body {
    background-color: rgb(87, 80, 80);
}

.main {
    background: #0052D4;
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);   
    width: 1500px;
    height: 800px; 
    margin-left: 200px;
    border-radius: 10px;
}

#search-box {
    margin-left: 900px;
}