<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-newpost.css">
    <title>Create a Post</title>
</head>
<body>
    <div class="post-background">
    <div class="post-container">
    <form action="/newpost" method="POST">
    <h1 class="title">New post</h1>
    <input type="heading" id="heading" name="heading" placeholder="Post title" required>
    <div class="break"></div>
    <textarea rows = "5" cols = "60" name = "description" id="description" type="description" placeholder="Type something.." required></textarea>
        <input type="photo" id="photo" name="photo" placeholder="Photo URL">
        <br>
        <br>
        <br>
        <br>
        <br>
    <button type="submit" class="publish">Publish Post</button>
</div>
   </div>
</form>
</body>
</html>